.bg-white-darken-10 {
  background: darken(white, 0.1);
}

.bg-white-darken-20 {
  background: darken(white, 0.2);
}

.bg-kicksite-yellow-600-lighten-10 {
  background: lighten(theme('colors.kicksite-yellow.600'), 0.1);
}

.bg-success-darken-10 {
  background: darken(theme('colors.success.400'), 0.1);
}

.bg-info-darken-10 {
  background: darken(theme('colors.info.800'), 0.1);
}

.bg-warning-darken-10 {
  background: darken(theme('colors.warning.800'), 0.1);
}

.bg-danger-darken-10 {
  background: darken(theme('colors.danger.600'), 0.1);
}

/* TODO: Make this work with theme stuff ideally */
.bg-primary-darken-15-dark {
  background: darken($primary-dark, 0.15);
}
