.btn {
  --btn-bg: transparent;
  --btn-text-color: theme('colors.content');
  --btn-hocus-bg: transparent;

  color: var(--btn-text-color);
  background: var(--btn-bg);

  &:hover,
  &:focus-visible {
    background: var(--btn-hocus-bg);
  }

  &:disabled {
    background: var(--btn-bg);
  }

  @apply cursor-pointer tracking-widest;
  @apply select-none whitespace-nowrap;
  @apply uppercase;
  @apply btn-md animate-btn-pop;
  @apply outline-none;
  @apply transition-all ease-in-out duration-300;
  @apply disabled:opacity-[0.65] disabled:cursor-not-allowed;
  @apply border border-solid border-transparent;

  &:hover:active,
  &:focus:active {
    @apply scale-95 animate-none;
  }
}
